<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="/">Hotels</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/rooms">Rooms</a>
    </li>

</ul>
<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h1>Edit Rooms</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form role="form" method="post" action="/rooms/edit_form" enctype="multipart/form-data">
                <input type="hidden" name="id" value="{{rooms._id}}">
                <div class="form-group">
                    <label for="productname" class="loginFormElement">Room Number:</label>
                    <input name="room_number" value="{{rooms.room_number}}" class="form-control" type="text" required>
                </div>
                <div class="form-group">
                    <label for="productprice" class="loginFormElement">Floor</label>
                    <input name="floor" class="form-control" value="{{rooms.floor}}" type="text" required>
                </div>
                <div class="form-group">
                    <label for="productprice" class="loginFormElement">Hotels</label>
                    <select name="hotelid" class="custom-select" required>
                        {{#each hotels}}
                            <option value="{{this._id}}"
                                {{#if selected}}
                                    selected
                                {{/if}}>
                                {{this.name}}
                            </option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="productprice" class="loginFormElement">Single Room</label>
                    <select name="single_rooms" required class="custom-select">
                        {{#each rooms}}
                            <option value="{{this.single_rooms}}"
                                {{#if selected}}
                                    selected
                                {{/if}}>{{this.single_rooms}}</option>
                        {{/each}}

                    </select>
                </div>
                <div class="form-group">
                    <label for="productprice" class="loginFormElement">Price</label>
                    <input name="price" class="form-control" value="{{rooms.price}}" type="number" required>
                </div>
                <div class="form-group">
                    <label for="productprice" class="loginFormElement">Stutus</label>
                    <select name="status" value="{{rooms.status}}" class="custom-select" required>
                        {{#each rooms}}
                            <option  value="{{rooms.status}}"
                                {{#if selected}}
                                    selected
                            {{/if}}>{{this.status}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <div style="width: 100px">
                        <img src="{{rooms.image}}" class="img-thumbnail">
                    </div>
                    <label class="control-label">Image</label>
                    <input name="image" class="filestyle" data-icon="false" type="file" required accept="image/x-png,image/gif,image/jpeg" >
                </div>
                <div class="form-group">
                    <label for="productprice" class="loginFormElement">Detail</label>
                    <input name="detail" value="{{rooms.detail}}" class="form-control" type="text" required>
                </div>
                <div class="container">
                    <button type="submit" id="loginSubmit" class="btn btn-success loginFormElement">Edit Rooms</button>
                    <a href="/rooms" class="btn btn-primary">Back</a>
                </div>
            </form>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>